<%= stylesheet_link_tag "transaction"%> 
<nav class='navbar'>
  <a href="<%= user_category_index_path(current_user.id)%>" > <i class="fa fa-arrow-left"></i></a>
  <p><b>NEW TRANSACTION</b></p>
  <i class="fa fa-searc"></i>
</nav>  
<section class='category-form'>
<%= form_with model: @transaction_entity , url: user_category_transaction_index_path , method: :post , local: true, class: "form-control" do |f|  %>
    <div class="form-field">
    <%= f.text_field :name , autofocus:  true , autocomplete: "name" , placeholder: 'Enter Transaction Name'%>
    </div>
    <div class="form-field">
       <%= f.number_field :amount , autocomplete: "amount" , placeholder: 'Enter Tranaction Amount'%>
    </div>
    <div class='form-checkbox'>
    <h4>Category:</h4>
    <% @category.each do |category| %>
     <label for="category_id"  class="flex items-center gap-2 flex-nowrap"><%= category.name%></label>
        <%= f.check_box :category_ids , {multiple: true, class: "check-box w-4 h-4 text-primaryDark bg-gray-100 rounded border-gray-300 focus:ring-0 focus:ring-offset-0 dark:border-gray-500"}, category.id, nil %>
      <br/>
      <% end %>
    </div>

     <div class="actions">
    <%= f.submit "ADD" %>
    </div>
<%end%>
</section>

<% flash.each do |type, messages| %>
  <ul class='form-error'>
     <% messages.each do |msg| %>
        <li class="text-center text-red-500"><%= msg %> <i class="fa fa-times"></i></li>
      <% end %>
  </ul>
<% end %> 